<style>
  body{
    background-size: cover;
    background-image:url('/assets/images/space1.jpg') ; 
  }
</style>
<div class="container">
  <br><br><br>
  <div class="jumbotron">
    <h1>Welcome to the Multiverse ∞</h1>
    <p>Click Here to  <%= link_to "Sign Up", "#" , class: "btn btn-danger btn-lg" %> </p>
  </div>
</div>
<div class="container-fluid">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
</div>

