
  <div class="container">
    
    <div class="row">
      
      <div class="col-md-2">
        <ul>
        <li>
        <button class="btn btn-primary btn-lg" type="submit">Welcome</button>
        <button class="btn btn-primary btn-lg" type="submit">Author Bio</button>
        <button class="btn btn-primary btn-lg" type="submit">Social Media Accounts</button>
        <button class="btn btn-primary btn-lg" type="submit">World Story</button>
        <button class="btn btn-primary btn-lg" type="submit">Laws of Magic and Science</button>
        <button class="btn btn-primary btn-lg" type="submit">Meet some Characters</button>
        <button class="btn btn-primary btn-lg" type="submit">Interesting Plots</button>
        </li>
        </ul>
      </div>
      
      
      <div class="col-md-7">

      </div>
      
        
      <div class="col-md-3">
     
      </div>
      
      
    </div>
  </div>

