<style>
  body{
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    background-image:url('/assets/images/space1.jpg') ;
    color: white;
    
  }
</style>
<div class="container">
  <br><br><br>
  <div class="jumbotron" style="background-color: transparent; color: white; padding: 0px; position: relative; top: 80px">
    <h1>Welcome to the Multiverse ∞</h1>
    <p>Click Here to  <%= link_to "Sign Up", "#" , class: "btn btn-danger btn-lg" %> </p>
  </div>
</div>
<div class="container-fluid">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
</div>

