/* Navbar Sizing and Styling*/
$body-bg: #fff;
$navbar-height: 35px;
$navbar-default-bg: #1D72AD;
$navbar-default-link-color: #fff;
$link-color: #fff;
/* Navbar Sizing and Styling*/

@import 'bootstrap';


/* footer Start*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  /*border-top: 1px solid #eaeaea; */
  color: #777;
}

footer a {
  color: #333;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* footer End */