<div class="nav-container">
<div class="container">
  <div class="subheader">
    <div class="row">
      
      <div class="col-md-3">
        <h2>
         Coordinates &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Universe: 8   
        </h2>
      </div>
      <div class="col-md-3">
        <h2>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Galaxy: Milky Way   
        </h2>
      </div>
      <div class="col-md-3">
        <h2>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp World: Earth  
        </h2>
      </div>
      <div class="col-md-3">
        <h2>
         &nbsp &nbsp &nbsp Year:  2016 A.D.
        </h2>
      </div>
    </div>
 </div>
</div>
</div>