<div class="nav-container">
<div class="container">
  <div class="subheader">
    <div class="row">
      <div class="col-md-3">
        <h2>
          Coordinates: &nbsp &nbsp &nbsp 
        </h2>
      </div>
      <div class="col-md-3">
        <h2>
         Universe: Milky Way &nbsp &nbsp &nbsp   
        </h2>
      </div>
      <div class="col-md-3">
        <h2>
          World: Earth &nbsp &nbsp &nbsp  
        </h2>
      </div>
      <div class="col-md-3">
        <h2>
          Year:  2016 A.D.
        </h2>
      </div>
    </div>
 </div>
</div>
</div>